<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


<!--    普通的set注入-->
<!--    <bean id="dog" class="com.it.pojo.Dog">-->
<!--        <property name="name" value="旺财"/>-->
<!--        <property name="color" value="白色"/>-->
<!--    </bean>-->
<!--    <bean id="user" class="com.it.pojo.User">-->
<!--        <property name="username" value="小张"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--    </bean>-->
<!--   /////////////////////////////////////////////////////////////-->

<!--          p-namespace : 属性值注入 (set方法注入)
              c-namespace : 构造器注入
-->
    <bean id="dog" class="com.it.pojo.Dog" p:name="旺财" p:color="白色"/>
    <bean id="user" class="com.it.pojo.User" c:dog-ref="dog" c:username="小张"/>

</beans>