<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要和mapper接口全类名保持一致-->
<mapper namespace="com.it.mapper.StudentMapper">

    <!--    // 单个参数-->
    <select id="getStudentById" parameterType="integer" resultType="student">
        select * from student where stu_id = #{stuId};
    </select>

    <!--    	/// 多个参数-->
    <update id="updateStudentByIdAndNameAndAge">
        update student set stu_name = #{stuName} , stu_age = #{stuAge} where stu_id = #{stuId};
    </update>

    <!--    	/// 实体参数-->
    <insert id="insertStudent">
        insert into student (stu_name,stu_age,stu_clazz) values (#{stuName},#{stuAge},#{stuClazz})
    </insert>

    <!--    	/// Map类型参数-->
    <select id="getStudentByNameAndClazz" resultType="student">
        select * from student where stu_name = #{map_Name} and stu_clazz = #{map_Clazz}
    </select>

    <!--=========================返回结果类型======================-->

    <!--    返回类型为Integer-->
    <select id="selectStudentCount" resultType="integer">
        select count(*) from student
    </select>

    <!--    返回类型为实体类型-->
    <select id="selectStudentByName" resultType="student">
        select * from student where stu_name = #{name}
    </select>

    <!--    	/// 返回Map集合类型-->
    <select id="selectStudentAvgAge" resultType="map">
        select avg(stu_age) as '学生的平均年龄' from student
    </select>

    <!--    /// 返回List集合类型-->
    <!--    注意 : 返回类型写list返回的*泛型*-->
    <select id="selectAllStudent" resultType="student">
        select * from student
    </select>


    <!--    根据姓名进行模糊返回list封装后的数据, 写返回类型写list的泛型即可-->
    <select id="getAllUsersByLikeName" resultType="student">
        select * from student where stu_name like concat('%',#{stuName},'%')

    </select>

</mapper>