<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shuai.boot.shirocodestudy.sys.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="org.shuai.boot.shirocodestudy.sys.model.entity.SysRoleMenu">
        <id     column="id"      property="id"      />
        <result column="role_id" property="roleId"  />
        <result column="menu_id" property="menuId"  />
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id, menu_id
    </sql>

</mapper>
