<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--    引入外部配置文件-->
    <properties resource="jdbc-config.properties"/>


    <!--    设置-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--    给类的全限定符起别名-->
    <typeAliases>
        <package name="com.it.pojo"/>
    </typeAliases>

    <!--    配置环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--    mapping映射-->
    <mappers>
<!--                配置方式一 : 使用相对于类路径的资源引用-->
<!--                <mapper resource="com/it/mapper/*.xml"/>-->
<!--        <mapper class="com.it.mapper.UserMapper"/>-->

<!--        &lt;!&ndash;    配置方式二 :  将包内的映射器接口全部注册为映射器  &ndash;&gt;-->
        <package name="com.it.mapper"/>
    </mappers>

</configuration>