<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要和mapper接口全类名保持一致-->
<mapper namespace="com.it.mapper.StudentMapper">

    <resultMap id="StudentTeacher" type="Student_01">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <result property="sex" column="sex"/>
        <association property="teacher" javaType="Teacher_01">
            <result property="name" column="tname"/>
        </association>
    </resultMap>

<!--    查询学生加学生的老师姓名-->
    <select id="getStudentWithTeacherList" resultMap="StudentTeacher">
        select s.id sid, s.name sname, s.sex sex, t.name tname
        from student s, teacher t
        where s.tid = t.id;
    </select>




    <!--    查询所有学生信息-->
    <select id="getStudentList" resultType="Student_01">
        select * from student;
    </select>
</mapper>