<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要和mapper接口全类名保持一致-->
<mapper namespace="com.it.mapper.UserMapper">

<!--      查询所有用户-->
      <select id="getUserList" resultType="User" >
            select * from user;
      </select>

<!--      根据id查询用户-->
      <select id="getUserById"  parameterType="int" resultType="User">
            select * from user where id = #{id};
      </select>

<!--      新增用户-->
      <insert id="addUser" parameterType="User">
            insert into user(name, pwd) values (#{name}, #{pwd});
      </insert>

<!--      修改用户-->
      <update id="updateUser" parameterType="User">
            update user set name = #{name}, pwd = #{pwd} where id = #{id};
      </update>

<!--      根据id删除用户-->
      <delete id="deleteUser" parameterType="int">
            delete from user where id = #{id};
      </delete>

</mapper>