<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxiang.mybatisspring.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.anxiang.mybatisspring.model.Goods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,name,price,num,add_time
    </sql>

    <select id="selectAll" resultType="com.anxiang.mybatisspring.model.Goods">
        SELECT * FROM goods
    </select>
</mapper>
