<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要和mapper接口全类名保持一致-->
<mapper namespace="com.it.mapper.TeacherMapper">

    <resultMap id="TeacherStudent" type="Teacher_02">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
<!--        返回的结果集是集合 使用collection 里面的ofType是泛型类型-->
        <collection property="students" javaType="List" ofType="Student_02">
            <result property="name" column="sname"/>
            <result property="sex" column="sex"/>
        </collection>
    </resultMap>

<!--      根据id查询老师以及老师的所带学生-->
    <select id="getTeacherWithStudentById" resultMap="TeacherStudent">
        select t.id tid, t.name tname, s.sex sex, s.name sname
        from teacher t, student s
        where t.id = s.tid
        and t.id = #{tid};
    </select>


    <select id="getTeacher" resultType="Teacher_02">
        select * from teacher;
    </select>
</mapper>